{% extends "custom_account/dashboard_base.html" %}

<!-- make friendship link active -->
{% block friendship_link %}
    <li class="nav-item active">
        <i class="fa-solid fa-user-group"></i>
        <a class="nav-link" href="{% url 'custom_account:friendship' %}">Friends
            <span class="badge primary-bg secondary">{{friendships|length}}</span>
        </a>
    </li>
{% endblock %}

{% block dashboard_content %}
    {% for friendship in  friendships %}
        {% include "friendship/friend.html" with friend=friendship %}
    {% empty %}
        <div style="text-align: center; margin: auto; ">
            <h4>You don't have friends yet.</h4>
            <p>Search for friends and send them friendship requests</p>
        </div>
    {% endfor %}
{% endblock %}