{% extends "custom_account/dashboard_base.html" %}

<!-- Make item link active -->
{% block budget_link %}
<li class="nav-item hover-border active">
    <i class="fa-solid fa-list fa-lg"></i>
    <a class="nav-link" href="{% url 'custom_account:dashboard' %}">Items 
        <span class="badge primary-bg secondary">{{budgets|length}}</span>
    </a>
    <a class="nav-link primary-color" href="{% url 'budget:create' %}"> &plus; New
    </a>
</li>
{% endblock %}
{% block dashboard_content %}
    {% for budget in  budgets %}
        {% include "budget/budget.html" %}
    {% empty %}
        <div style="text-align: center; margin: auto;">
            <p>You don't have budgets yet. </p>
            <a class="btn-bordered-primary nav-link" href="{% url 'budget:create' %}"> &plus; Create</a>
        </div>
    {% endfor %}
{% endblock %}