{% extends "custom_account/dashboard_base.html" %}
<!-- make friendship link active -->
{% block received_requests_link %}
<li class="nav-item hover-border active">
    <i class="fa-solid fa-circle-down"></i>
    <a class="nav-link" href="{% url 'custom_account:received-requests' %}">Requests
        <span class="badge primary-bg secondary">{{received_friendship_requests|length}}</span>
    </a>
</li>
{% endblock %}

{% block dashboard_content %}
    {% for friendship_request in received_friendship_requests %}
       {% include "friendship/received_request.html" %}
    {% empty %}
       <p>You have not received any friend request.</p>
    {% endfor %}
{% endblock %}