{% extends "base.html" %}
{% load  account_extras %}
{% block content %}
    <section class="dashboard-container">
        <aside class="aside-dashboard">
            <h4 class="tab-title" style="display: inline-block; color: white;">
                <!-- check if the path matches a given path -->
                {% if request.path|get_route == "dashboard-received-requests" %}
                    Received requests({{received_friendship_requests|length}}): 
                {% elif request.path|get_route == "dashboard-sent-requests" %}
                    Sent requests({{sent_friendship_requests|length}}): 
                {% elif request.path|get_route == "dashboard-budgets" %}
                    Budgets({{budgets|length}}): 
                    <a 
                        style="color: white;" 
                        class="nav-link secondary-color btn-bordered-secondary" 
                        href="{% url 'budget:create' %}"
                    > 
                        &plus; Create
                    </a>
                {% elif request.path|get_route == "dashboard-friendships" %}
                    Friends ({{friendships|length}}): 
                {% endif %}
            </h4>
            
            <!-- {% include 'brand.html' %}
            <ul class="item-aside">
                {% block budget_link %}
                    <li class="nav-item hover-border">
                        <i class="fa-solid fa-list fa-lg"></i>
                        <a class="nav-link" href="{% url 'custom_account:budgets' %}">Budgets 
                            <span class="badge primary-bg secondary">{{budgets|length}}</span>
                        </a>
                        <a class="nav-link primary-color" href="{% url 'budget:create' %}"> 
                            &plus; New
                        </a>
                    </li>
                {% endblock %}
             
                {% block friendship_link %}
                    <li class="nav-item hover-border">
                        <i class="fa-solid fa-user-group"></i>
                        <a class="nav-link" href="{% url 'custom_account:friendship' %}">Friends
                            <span class="badge primary-bg secondary">{{friendships|length}}</span>
                        </a>
                    </li>
                {% endblock %}
                {% block received_requests_link %}
                    <li class="nav-item hover-border">
                        <i class="fa-solid fa-circle-down"></i>
                        <a class="nav-link" href="{% url 'custom_account:received-requests' %}">Requests
                            <span class="badge primary-bg secondary">{{received_friendship_requests|length}}</span>
                        </a>
                    </li>
                {% endblock %}
                {% block sent_requests_link %}
                    <li class="nav-item hover-border">
                        <i class="fa-solid fa-paper-plane"></i>
                        <a class="nav-link" href="{% url 'custom_account:sent-requests' %}">Requests
                            <span class="badge primary-bg secondary">{{sent_friendship_requests|length}}</span>
                        </a>
                    </li>
                {% endblock %}
            </ul> -->
        </aside>
        <div>
            <!-- <header class="dashboard primary-bg">
                <i class="fas fa-bars"></i>
                <small style="color: orange;">
                    {% if friendships %}
                        {{friendships|length}}
                    {% elif sent_friendship_requests %}
                        You have sent {{sent_friendship_requests|length}} friend request{{sent_friendship_requests|pluralize}}
                    {% elif received_friendship_requests %}
                        You have received {{received_friendship_requests|length}} friend request{{received_friendship_requests|pluralize}}
                    {% elif budgets %}
                        You {{budgets|length}} budget{{budgets|pluralize}}
                    {% endif %}
                </small>
            </header> -->
            <main class="items-main reviews-container padding-main-bottom padding-main-x overflow-y">
                {% block dashboard_content %}{% endblock %}
            </main>
        </div>
    </section>
{% endblock %}