{% load friendship_extras %}
<article class="review">
    <img src="{{friendship_request.friendship.friend.profile.photo.url|default:'/static/images/avatar.jpg'}}" width="100" height="100"
        alt="{{review.name}}" 
        class=" shadow rounded"
        />
    <h4 class="primary review-author">
        <a href="{% url 'custom_account:detail' friendship_request.friendship.user.id %}" class="btn-secondary">
            {{friendship_request.friendship.user.username}}
        </a> |
        <span class="time warning">Since {{friendship_request.created_at|date:"M, d Y"}}</span>
    </h4>
    <div class="align-self-left">
        {% request_status_action_tag friendship_request.friendship %}
    </div>
</article>