{% extends "custom_account/dashboard_base.html" %}
{% block title %}create budget{% endblock %}
{% block content %}
    <section class="form-container">
        <div class="form-heading-container">
            <h3>New Budget</h3>
        </div>
        <form action="{% url 'budget:create' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{form.as_p}}</p>
            <input type="submit" value="Submit"/>
            <a href="{% url 'custom_account:budgets' %}">See budgets</a>
        </form>
    </section>
{% endblock %}