{% extends "custom_account/dashboard_base.html" %}
{% block title %}budget update{% endblock %}

{% block content %}
    <section class="form-container">
        <div class="form-heading-container">
            <h3>Budget Update</h3>
        </div>
        <form action="{% url 'budget:update' budget.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{form.as_p}}</p>
            <input type="submit" value="Submit"/>
            <a href="{% url 'custom_account:dashboard' %}">Cancel</a>
        </form>
    </section>
{% endblock %}