{% extends "custom_account/dashboard_base.html" %}
{% block title %}delete budget{% endblock %}

{% block content %}
    <section class="form-container">
        <div class="form-heading-container">
            <h3>Do you want to delete</h3>
        </div>
        <div style="padding: 50px;">
            {% include "budget/budget.html" %}
        </div>
        <form action="{% url 'budget:delete' budget.id %}" method="post">
            {% csrf_token %}
            <p>{{form.as_p}}</p>
            <input type="submit" value="Yes"/>
            <a href="{% url 'budget:detail' budget.id %}">No</a>
        </form>
    </section>
{% endblock %}