*, *::after, *::before {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
:root{
    --primary-color: rgb(0, 100, 100);
    --secondary-color: white;
    --padding: 20px;
    --border-radius: 10px;
    --done-bg-color: rgb(0, 150, 150);
}

.table tr, .table td, .table th {
    border: 1px solid black; 
    border-collapse: collapse;
  }

  .table td, .table  th{
    padding: 10px;
    text-align: center;
}
.table{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 50px;
    border-radius: 5px;
}

.table thead {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.done{
    background-color: var(--done-bg-color);
    color: var(--secondary-color);
}