{% extends 'account/base.html' %}
{% load static %}
{% block title %}login{% endblock %}
{% block main %}
    <div class="form-heading-container">
        <h3 class="secondary">Login</h3> 
        <a href="{% url 'account_signup' %}">Sign Up</a>
    </div>
    <form action="{% url 'account_login' %}" method="post">
        {% csrf_token %}
        <p>{{form.as_p}}</p>
        <input type="submit" value="Login"/>
        <div class="social-auth-container">
            <h5 style="color: white;">Or</h5>
            <article class="google provider">
                <img class="provider-logo" src="{% static 'images/google-logo.png' %}" alt="">
                <a href="{% url 'google_login' %}">Log in with Google</a>
            </article>
            <article>
                <a href="{% url 'account_signup' %}">Signup</a>
                | <a href="{% url 'account_reset_password' %}">Lost password?</a>
            </article>
        </div>
    </form>
{% endblock %}