{% for target_user in share.target_users.all %}
    <article class="review">
        <img src="{{user.profile.photo.url|default:'/static/images/avatar.jpg'}}" width="100" height="100"
            alt="{{review.name}}" 
            class="floated-left shadow rounded"
            />
        <!-- <h4 class="primary review-author">{{share.target_user.username}} | Shared on
            <span class="time warning"> {{share.created_at|date:"M, d Y"}}</span>
        </h4> -->
        <h4 class="primary review-author">
            <a href="{% url 'item:detail' share.id %}" class="btn-secondary">{{target_user.username}}</a> |
            <span class="time warning">Since {{share.created_at|date:"M, d Y"}}</span>
        </h4>
        <div class="align-self-left">
            <a href="{% url 'sharing:delete' pk=share.id target_user_pk=target_user.id %}" class="btn-gray">
                <i class="fa-solid fa-rotate-left"></i> Unshare
            </a>
        </div>
    </article>
{% endfor %}