{% extends 'email_base.html' %}
{% block footer %}
    <div style="margin-top: 20px;">
        {% load i18n %}
        <p>
            {% autoescape off %}
                {% blocktrans with site_name=current_site.name site_domain=current_site.domain %}
                    Thank you for using Errand!
                {% endblocktrans %}
            {% endautoescape %}
        </p>
        <a href="{{request.scheme}}://{{request.get_host}}"
            style="
                text-decoration: none; 
                display: block; 
                color: white; 
                background-color: rgb(0, 100, 100);
                border-radius: 10px;
                padding: 10px 30px;
                width: fit-content;
                "      
            >Visit Errand 
        </a>
    </div>
{% endblock %}