{% extends "base.html" %}
{% block header %}
    <header class="padding-main-x secondary-bg" style="padding-top: 10px;">
        {% include "brand.html" %}
    </header>
{% endblock %}
{% block content %}
    <section class="dashboard-container">
        <aside class="">
            <ul class="item-aside">
                {% block items_link %}
                    <li class="nav-item hover-border">
                        <i class="fa-solid fa-list fa-lg"></i>
                        <a class="nav-link" href="{% url 'account:dashboard' %}">Items 
                            <span class="badge primary-bg secondary">{{items|length}}</span>
                        </a>
                        <a class="nav-link primary-color" href="{% url 'item:create' %}"> &plus; Add
                        </a>
                    </li>
                {% endblock %}
             
                {% block friendship_link %}
                    <li class="nav-item hover-border">
                        <i class="fa-solid fa-user fa-lg"></i>
                        <a class="nav-link" href="{% url 'account:friendship' %}">Friends
                            <span class="badge primary-bg secondary">{{friendships|length}}</span>
                        </a>
                    </li>
                {% endblock %}
                {% block requests_link %}
                    <li class="nav-item hover-border">
                        <i class="fa-solid fa-code-pull-request"></i>
                        <a class="nav-link" href="{% url 'account:requests' %}">Requests
                            <span class="badge primary-bg secondary">{{friendship_requests|length}}</span>
                        </a>
                    </li>
                {% endblock %}
            </ul>
        </aside>
        <div>
            <header class="dashboard primary-bg">
                
            </header>
            <main class="items-main reviews-container padding-main-bottom padding-main-x overflow-y">
                {% block dashboard_content %}{% endblock %}
            </main>
        </div>
    </section>
{% endblock %}