{% extends "account/dashboard_base.html" %}
{% block content %}
    <section class="details-container padding-main-x">
        <header class="detail-header" style="margin-bottom: 20px;">
            <img src="{{user.photo.url|default:'/static/images/avatar.jpg'}}"
                class="rounded shadow detail-image" width="100" height="100"
            />
            <div class="detail-text-container">
                <h2 class="detail-name">{{user.username}}</h2>
                <!-- <p>{{item.description}}</p> -->
                {% if user.fullname %}
                    <h3 class="primary">{{user.fullname}}</h3>
                {% endif %}
            </div>
        </header>
        <a href="{% url 'friendship:request' pk=request.user.id friend_id=user.id %}" class="btn-bordered-primary"><i class="fa-solid fa-share fa-xl"></i>Send friend request</a>
    </section>
{% endblock %}