<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body style="margin: 0% 10%;">
        <div
            style="
                background-color: rgb(0, 100, 100);
                color: white;
                padding: 2% 5%;
                border-radius: 10px;
                font-family: broadway, forte;
            ">
            <h1 style="color: white; text-align: center;">Errand</h1>
        </div>
        <div
            style="
                padding: 2%; 
                color: black;
                background-color: white; 
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                "
            >
            {% block content %}{% endblock %}
            {% block footer %}
                <div style="margin-top: 20px;">
                    <a href="{{request.scheme}}://{{request.get_host}}{% url 'custom_account:received-requests' %}"
                        style="
                            text-decoration: none; 
                            display: block; 
                            background-color: rgb(0, 100, 100); 
                            color: white;
                            border-radius: 10px;
                            padding: 10px 30px;
                            width: fit-content;
                            "      
                    >Manage request
                    </a>
                </div>
            {% endblock %}
        </div>
    </body>
</html>