{% extends "base.html" %}
{% load static %}
{% block title %} home {% endblock %}
{% block content %}
    <section class="landing">
        <article class="landing-text">
            <h1 class="landing-title">Manage budget without using Paper</h1>
            <p class="landing-body">
               Xpendio is a place where you easily manage your expenditure.
            </p>
            <p class="landing-body">
                Xpendio enables you to create budget without having to carry pen and papper.
                You don't have to worry about losing budget. 
             </p>
            <br>
            <a href="{% url 'item:create' %}" class="btn landing-btn" style="margin-top: 2%;">Create Budget</a>
        </article>
        <article>
            <img src="{% static 'images/landing-image.jpg' %}" alt="landing-image" class="landing-image rounded">
        </article>
    </section>

    <section class="errand-description">
        
        <article class="errand-text">
            <h3 class="title color-primary">Things you can do with Xpendio</h3>
            <p>
                Xpendio helps to eliminate the use of paper to manage your budget.
                Managing budget on paper can be boring and dangerous because it can be misplaced. 
                Xpendio helps you to: 
            </p>
            <ul class="errand-items">
                <li class="errand-item">Create budget which you can access anytime, anywhere</li>
                <li class="errand-item">Share budget without people that matter</li>
                <li class="errand-item">Share item of a budget with people</li>
            </ul>
        </article>
    </section>
    <section class="reviews" style="background-color:white;">
        <h3 style="" class="title primary-color">What people say about "Errand"</h3>
        <div class="reviews-container">
            {% for review in reviews %}
                {% include "reviews/review.html" %}
            {% endfor %}
        </div>
    </section>
{% endblock %}