{% load static %}
{% block nav %}
    <nav>
        {% include 'brand.html' %}
        <ul class="nav-items">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'custom_account:friendship' %}">Friends</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'custom_account:received-requests' %}">Received requests</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'custom_account:sent-requests' %}">Sent requests</a>
            </li>
            <li class="nav-item"><a class="nav-link" href="{% url 'custom_account:budgets' %}">Budgets</a></li>
        </ul>
        <ul class="account-links">
            {% if user.is_authenticated %}
                <div class="image-logout-wrapper">
                    <img src="{% static '/images/logo.png' %}" alt="" width="50" height="50">
                    <li class="btn-bordered-primary"><a class="nav-link" href="{% url 'account_logout' %}">logout</a></li>
                </div>
            {% else %}
                <li class="btn-bordered-primary"><a class="nav-link" href="{% url 'account_login' %}">login</a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}