{% extends "custom_account/dashboard_base.html" %}
{% block content %}
    <div class="form-container">
        <!-- <h3>Share item </h3> -->
        <small>
            {% for error in forms.errors %}
                {{error}}
            {% endfor %}
        </small>
        <div class="form-heading-container">
            <h3>You are sharing:</h3>
        </div>
        <div style="padding: 50px;">
            {% include "sharing/shared_budget.html" %}
        </div>

        <form method="post" action="{% url 'sharing:share-budget' budget.id %}">
            {% csrf_token %}
            <h4 id=>with:</h4>
            <ul id="selected-target-users">

            </ul>
            <section class="target-users-container" style="text-align: center;">
                {% for target_user in target_users %}
                    <article class="target-user" onclick="()=>{console.log('hello')}">
                        <input id="checkbox-{{forloop.counter0}}" type="checkbox" name="target_users" value="{{target_user.id}}"/>
                        <label id="label-{{forloop.counter0}}">{{target_user.username}}</label>
                        <img src="{{target_user.profile.photo.url|default:'/static/images/avatar.jpg'}}" width="50" height="50"
                        alt="{{review.name}}" 
                        class="shadow rounded"
                        />
                    </article>
                {% empty %}
                    <small> You don't have any active friend</small>
                    <a href="{% url 'custom_account:friendship' %}" class="btn-secondary">Manage friends</a>
                {% endfor %}
            </section>
            <input type="submit" value="Ok">
            <a href="{% url 'budget:detail' budget.id %}" class="">Cancel</a>
        </form>
    </div>
{% endblock %}